body {
  background-color: white;
}

.App {
  display: flex;
  width: 75%;
  margin-left: 50px;
  margin-top: 50px;
}

.left_lg_box {
  background-color: #dddddd;
  width: 25%;
  height: 500px;
  padding: 10px;
  display: table;
}

span {
  display: table-cell;
  vertical-align: middle;  
}

.top_sm_box {
  display: block;
  background-color: #dddddd;
  width: 25%;
  height: 160px;
  margin-left: 20px;
  margin-bottom: 25px;
  padding: 10px;
}

.lower_lg_box {
  display: block;
  background-color: #dddddd;
  width: 91%;
  height: 290px;
  margin-left: 20px;
  padding: 10px;
}

.RH_boxes {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}