body {
  background-color: white;
}

.App {
  display: flex;
  width: 75%;
  margin-left: 50px;
  margin-top: 50px;
}

.left_lg_box {
  background-color: #dddddd;
  width: 20%;
  height: 650px;
  padding: 10px;
  display: table;
}

span {
  display: table-cell;
  vertical-align: middle;  
}

.top_sm_box {
  display: block;
  background-color: #dddddd;
  width: 25%;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 25px;
  padding: 10px;
}

#top_right_box {
  text-align: center;
}

.lower_lg_box {
  display: block;
  background-color: #dddddd;
  width: 89%;
  height: 400px;
  margin-left: 20px;
  padding: 10px;
}

#inside_box {
  background-color: #bebdbd;
  width: 90%;
  height: 250px;
  margin-top: 65px;
  margin-left: 25px;
}

.RH_boxes {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}